<%= form_for @user do |f| %>

  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>

    <li>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </li>

    <li>
      <%= f.submit "Register" %>
    </li>
  </ul>

<% end %>
